<div class="main">
  <div class="card-context">
    <div class="header">Credit-Card</div>
    <div class="card-container">





      <div class="card-box" >
            <div class="card-item card-context-item">
                <app-card   [isSilver]="true" />
            </div>
            <div class="card-item text-context-item">
                <div class="info-header" >
                    Silver Card
                </div>
                <div class="info-des" >
                    <div class="text" >
                        The Silver Card offers basic benefits and features, making it ideal for everyday purchases. With lower annual fees, this card provides access to customer support and a standard rewards program that allows you to earn points on every dollar spent.

                    </div>
                    <div class="card-info" >
                        <div class="info-item">Card Number: 0109 8234 9872 9872</div>
                        <div class="info-item">Expiration Date: 05/19</div>
                        <div class="info-item">CVV/CVC: 9900</div>
                        <div class="info-item">Cardholder Name: USERS NAME</div>
                        <div class="info-item">Card Type: VISA</div>
                    </div>
                </div>
                <div class="button-box" >
                        <div class="button" role="button">
                            Request
                        </div>
                </div>
            </div>
      </div>









      <div class="card-box" >
        
        <div class="card-item text-context-item">
            <div class="info-header" >
                Gold Card
            </div>
            <div class="info-des" >
                <div class="text" >
                    The Gold Card enhances your spending power with higher credit limits and additional travel and purchase protections. Enjoy medium annual fees and an enhanced rewards program that offers more points per dollar spent, making it a great choice for those seeking more benefits and features.
                </div>
                <div class="card-info" >
                    <div class="info-item">Card Number: 0109 8234 9872 9872</div>
                    <div class="info-item">Expiration Date: 05/19</div>
                    <div class="info-item">CVV/CVC: 9900</div>
                    <div class="info-item">Cardholder Name: USERS NAME</div>
                    <div class="info-item">Card Type: VISA</div>
                </div>
            </div>
            <div class="button-box" >
                    <div class="button" role="button">
                        Request
                    </div>
            </div>
        </div>
        <div class="card-item card-context-item">
            <app-card [isGold]="true" />
        </div>
  </div>










  
  






  <div class="card-box" >
    <div class="card-item card-context-item">
        <app-card [isPlati]="true" />
    </div>
    <div class="card-item text-context-item">
        <div class="info-header" >
            Platinum Card
        </div>
        <div class="info-des" >
            <div class="text" >
                The Platinum Card is our premium offering, featuring the highest credit limits and comprehensive travel and purchase insurance. With higher annual fees, this card provides a premium rewards program with the highest points per dollar spent, along with exclusive access to airport lounges and concierge services.
            </div>
            <div class="card-info" >
                <div class="info-item">Card Number: 0109 8234 9872 9872</div>
                <div class="info-item">Expiration Date: 05/19</div>
                <div class="info-item">CVV/CVC: 9900</div>
                <div class="info-item">Cardholder Name: USERS NAME</div>
                <div class="info-item">Card Type: VISA</div>
            </div>
        </div>
        <div class="button-box" >
                <div class="button" role="button">
                    Request
                </div>
        </div>
    </div>
    
</div>












    </div>
  </div>
</div>
