<div class="main">
  <div class="image">
    <img
      src="../../../assets/demo/business-concept-with-copy-space-office-desk-table-with-pen-focus-analysis-chart-computer-notebook-cup-coffee-desk-vintage-tone-retro-filter-selective-focus (1).jpg"
      alt=""
    />
  </div>

  <div class="text-context">
    <div class="mini-header">Introduce With Q-Bank</div>
    <div class="des">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit enim
      culpa veritatis autem, perspiciatis dolorem totam dignissimos rerum rem
      sint! Dicta alias saepe mollitia doloribus quo exercitationem in sunt
      suscipit! Voluptatum alias quo incidunt iure numquam sapiente corrupti,
      dolorem velit cumque itaque dicta tempora saepe accusamus commodi autem id
      esse? Dolorum animi minus id sit iste. Nam aliquam illo enim?
    </div>
    <div class="point">
      <div class="item">
        <div class="icon"> <div class="text">1</div>
    </div>
        <div class="des">
          <div class="header">Industry Leadership and Market Position</div>
          <div class="text-des">
            Emphasizing the bank’s position in the market and its leadership in
            the industry can attract new customers and partners.
          </div>
        </div>
      </div>

      <div class="item">
        <div class="icon">
            <div class="text">2</div>
    
    
    </div>
        <div class="des">
          <div class="header">Sustainability Initiatives</div>
          <div class="text-des">
            Highlighting efforts to promote sustainability and environmental
            responsibility can appeal to environmentally conscious customers.
          </div>
        </div>
      </div>

      <div class="item">
        <div class="icon"> <div class="text">3</div>
    </div>
        <div class="des">
          <div class="header">Innovation in Financial Products</div>
          <div class="text-des">
            Introducing new and innovative financial products can demonstrate
            the bank’s ability to meet diverse customer needs.
          </div>
        </div>
      </div>
    </div>
    <div class="button-box">
      <div class="button">More</div>
    </div>
  </div>
</div>
