<footer class="main">
  <div class="context-box">
    <div class="item">
      <div class="icon-with-name">
        <div class="logo">
          <img src="../../../assets/logo//logo.svg" alt="" />
        </div>
        <!-- <div class="name">Q-Bank</div> -->
      </div>
      <div class="des">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic voluptatem
        quidem optio accusamus nostrum quod voluptatibus. Dolorum, excepturi
        provident. Ut atque sit et nam deserunt itaque cupiditate facere in
        quam.Ut atque sit et nam deserunt itaque cupiditate facere in quam.Ut
        atque sit et nam deserunt itaque cupiditate facere in quam.
      </div>
      <div class="s-link">
        <div class="link-item">
          <img src="../../../assets/media/facebook-svgrepo-com (1).svg" />
        </div>
        <div class="link-item">
          <img src="../../../assets/media/linkedin-svgrepo-com.svg" />
        </div>
        <div class="link-item">
          <img src="../../../assets/media/x-social-media-logo-icon (1).svg" />
        </div>
      </div>
    </div>
    <div class="item">
      <div class="header">Necessary Links</div>
      <div class="link-box">
        <div class="link">
          <a href="">FAQ</a>
        </div>

        <div class="link">
          <a href=""> About Us</a>
        </div>
        <div class="link">
          <a href=""> Careers</a>
        </div>
        <div class="link">
          <a href="">Service</a>
        </div>
        <div class="link">
          <a href="">Mobile Application</a>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="header">Bank-Information</div>

      <div class="bloc">
        <div class="bloc-header">Contact-Info</div>
        <div class="text-context">
          {{ "info9909@gmail.com" }}
        </div>
        <div class="text-context">
          {{ "+88019323334345" }}
        </div>
      </div>

      <div class="bloc">
        <div class="bloc-header">Address</div>
        <div class="text-context">
          Head Office: 28 Kazi Nazrul Islam Ave,Navana Zohura Square, Dhaka 1000
        </div>
      </div>
    </div>
  </div>
  <div class="copy-right">Copyright 2024 by Q-Bank. All Rights Reserved.</div>
</footer>
