.toast-message {
  width: 400px;
  display: flex;
  padding: 10px;
  padding-bottom: 25px;
  .item {
    &:nth-child(1) {
      width: 60px;
      display: flex;
      justify-content: center;

      .icon {
        height: 50px;
        width: 50px;
        &:nth-child(2) {
          height: 55px;
          width: 55px;
        }
      }
    }
    &:nth-child(2){
        .header{
            font-size: 20px;
            font-weight: 900;
        }
        .des{
            font-weight: 700;
            font-size: 17px;
            margin-top: 20px;
        }
    }
    height: 100%;
  }
}
