<div class="main">
  <div class="item">
    <div class="header">Experience the Full Range of Q-bank Services</div>
    <div class="des" >
    
At Q-bank, we offer a comprehensive range of banking services tailored to meet your needs. Whether you want to open a new account, apply for a loan, or manage your investments, our dedicated professionals are here to assist you. Enjoy secure Personal Savings Accounts, convenient Checking Accounts, and fixed-term CD Accounts. We provide Personal and Auto Loans, competitive Home Mortgages, and Home Equity Loans. For businesses, we offer Business Checking Accounts, Commercial Loans, and Merchant Services. Grow your wealth with our Investment Services and secure your future with our Retirement Accounts. Our Credit Cards and Online and Mobile Banking platforms ensure you can manage your finances anytime, anywhere.
    </div>
  </div>
  <div class="item">
    <div class="image">
      <img src="../../../assets/demo/service.png" alt="" />
    </div>
  </div>
</div>
