<div class="main">
  <div class="profile-box item">
    <div class="pic">
      <img src="../../../assets/profile/LinkedIn_Profile_Photo.jpg" alt="" />
    </div>
  </div>
  <div class="text-context item">
    <div class="header">Client-Name</div>
    <div class="des">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti quas
      quia, suscipit omnis placeat esse consectetur sit voluptas alias, aliquam
      voluptates at ex numquam similique accusantium fuga autem? Quas, alias?
    </div>
    <div class="link-box">
      <div class="item-link">
        <a href="">
            <img src="../../../assets/media/facebook-svgrepo-com (1).svg" alt="">
        </a>
      </div>
      <div class="item-link">
        <a href="">
            <img src="../../../assets/media/linkedin-svgrepo-com.svg" alt="">
        </a>
      </div>
      <div class="item-link">
        <a href="">
            <img src="../../../assets/media/x-social-media-logo-icon (1).svg" alt="">
        </a>
      </div>
    </div>
  </div>
</div>
