<div class="main">
  <div class="frame">
    <div class="header">Transection History</div>
    <div class="table">
      <table>
        <tr>
          <th>no</th>
          <th>name</th>
          <th>sender</th>
          <th>receiver</th>
          <th>amount</th>
          <th>reference</th>
          <th>type</th>
          <th>payment by</th>
          <th>date</th>
          <th>time</th>
        </tr>







        <tr>
          <td>0</td>
          <td>{{ "gpu-buy" }}</td>
          <td>{{ "@sender" }}</td>
          <td>{{ "@receiver" }}</td>
          <td>100$</td>
          <td>{{ "pc-buy-sell" }}</td>
          <td>users</td>
          <td>users</td>
          <td>12/3/2002</td>
          <td>12/3/2002</td>
        </tr>














        
        <tr>
          <td>0</td>
          <td>{{ "gpu-buy" }}</td>
          <td>{{ "@sender" }}</td>
          <td>{{ "@receiver" }}</td>
          <td>100$</td>
          <td>{{ "pc-buy-sell" }}</td>
          <td>users</td>
          <td>users</td>
          <td>12/3/2002</td>
          <td>12/3/2002</td>
        </tr>














        
        <tr>
          <td>0</td>
          <td>{{ "gpu-buy" }}</td>
          <td>{{ "@sender" }}</td>
          <td>{{ "@receiver" }}</td>
          <td>100$</td>
          <td>{{ "pc-buy-sell" }}</td>
          <td>users</td>
          <td>users</td>
          <td>12/3/2002</td>
          <td>12/3/2002</td>
        </tr>














        
        <tr>
          <td>0</td>
          <td>{{ "gpu-buy" }}</td>
          <td>{{ "@sender" }}</td>
          <td>{{ "@receiver" }}</td>
          <td>100$</td>
          <td>{{ "pc-buy-sell" }}</td>
          <td>users</td>
          <td>users</td>
          <td>12/3/2002</td>
          <td>12/3/2002</td>
        </tr>














        
        <tr>
          <td>0</td>
          <td>{{ "gpu-buy" }}</td>
          <td>{{ "@sender" }}</td>
          <td>{{ "@receiver" }}</td>
          <td>100$</td>
          <td>{{ "pc-buy-sell" }}</td>
          <td>users</td>
          <td>users</td>
          <td>12/3/2002</td>
          <td>12/3/2002</td>
        </tr>














        
        <tr>
          <td>0</td>
          <td>{{ "gpu-buy" }}</td>
          <td>{{ "@sender" }}</td>
          <td>{{ "@receiver" }}</td>
          <td>100$</td>
          <td>{{ "pc-buy-sell" }}</td>
          <td>users</td>
          <td>users</td>
          <td>12/3/2002</td>
          <td>12/3/2002</td>
        </tr>














        
        <tr>
          <td>0</td>
          <td>{{ "gpu-buy" }}</td>
          <td>{{ "@sender" }}</td>
          <td>{{ "@receiver" }}</td>
          <td>100$</td>
          <td>{{ "pc-buy-sell" }}</td>
          <td>users</td>
          <td>users</td>
          <td>12/3/2002</td>
          <td>12/3/2002</td>
        </tr>














        
        <tr>
          <td>0</td>
          <td>{{ "gpu-buy" }}</td>
          <td>{{ "@sender" }}</td>
          <td>{{ "@receiver" }}</td>
          <td>100$</td>
          <td>{{ "pc-buy-sell" }}</td>
          <td>users</td>
          <td>users</td>
          <td>12/3/2002</td>
          <td>12/3/2002</td>
        </tr>














        
        <tr>
          <td>0</td>
          <td>{{ "gpu-buy" }}</td>
          <td>{{ "@sender" }}</td>
          <td>{{ "@receiver" }}</td>
          <td>100$</td>
          <td>{{ "pc-buy-sell" }}</td>
          <td>users</td>
          <td>users</td>
          <td>12/3/2002</td>
          <td>12/3/2002</td>
        </tr>














        
        <tr>
          <td>0</td>
          <td>{{ "gpu-buy" }}</td>
          <td>{{ "@sender" }}</td>
          <td>{{ "@receiver" }}</td>
          <td>100$</td>
          <td>{{ "pc-buy-sell" }}</td>
          <td>users</td>
          <td>users</td>
          <td>12/3/2002</td>
          <td>12/3/2002</td>
        </tr>














        
        <tr>
          <td>0</td>
          <td>{{ "gpu-buy" }}</td>
          <td>{{ "@sender" }}</td>
          <td>{{ "@receiver" }}</td>
          <td>100$</td>
          <td>{{ "pc-buy-sell" }}</td>
          <td>users</td>
          <td>users</td>
          <td>12/3/2002</td>
          <td>12/3/2002</td>
        </tr>














        
        <tr>
          <td>0</td>
          <td>{{ "gpu-buy" }}</td>
          <td>{{ "@sender" }}</td>
          <td>{{ "@receiver" }}</td>
          <td>100$</td>
          <td>{{ "pc-buy-sell" }}</td>
          <td>users</td>
          <td>users</td>
          <td>12/3/2002</td>
          <td>12/3/2002</td>
        </tr>














        
        <tr>
          <td>0</td>
          <td>{{ "gpu-buy" }}</td>
          <td>{{ "@sender" }}</td>
          <td>{{ "@receiver" }}</td>
          <td>100$</td>
          <td>{{ "pc-buy-sell" }}</td>
          <td>users</td>
          <td>users</td>
          <td>12/3/2002</td>
          <td>12/3/2002</td>
        </tr>














        
        <tr>
          <td>0</td>
          <td>{{ "gpu-buy" }}</td>
          <td>{{ "@sender" }}</td>
          <td>{{ "@receiver" }}</td>
          <td>100$</td>
          <td>{{ "pc-buy-sell" }}</td>
          <td>users</td>
          <td>users</td>
          <td>12/3/2002</td>
          <td>12/3/2002</td>
        </tr>














        
        <tr>
          <td>0</td>
          <td>{{ "gpu-buy" }}</td>
          <td>{{ "@sender" }}</td>
          <td>{{ "@receiver" }}</td>
          <td>100$</td>
          <td>{{ "pc-buy-sell" }}</td>
          <td>users</td>
          <td>users</td>
          <td>12/3/2002</td>
          <td>12/3/2002</td>
        </tr>














        
        <tr>
          <td>0</td>
          <td>{{ "gpu-buy" }}</td>
          <td>{{ "@sender" }}</td>
          <td>{{ "@receiver" }}</td>
          <td>100$</td>
          <td>{{ "pc-buy-sell" }}</td>
          <td>users</td>
          <td>users</td>
          <td>12/3/2002</td>
          <td>12/3/2002</td>
        </tr>














        
        <tr>
          <td>0</td>
          <td>{{ "gpu-buy" }}</td>
          <td>{{ "@sender" }}</td>
          <td>{{ "@receiver" }}</td>
          <td>100$</td>
          <td>{{ "pc-buy-sell" }}</td>
          <td>users</td>
          <td>users</td>
          <td>12/3/2002</td>
          <td>12/3/2002</td>
        </tr>














        
        <tr>
          <td>0</td>
          <td>{{ "gpu-buy" }}</td>
          <td>{{ "@sender" }}</td>
          <td>{{ "@receiver" }}</td>
          <td>100$</td>
          <td>{{ "pc-buy-sell" }}</td>
          <td>users</td>
          <td>users</td>
          <td>12/3/2002</td>
          <td>12/3/2002</td>
        </tr>














        
        <tr>
          <td>0</td>
          <td>{{ "gpu-buy" }}</td>
          <td>{{ "@sender" }}</td>
          <td>{{ "@receiver" }}</td>
          <td>100$</td>
          <td>{{ "pc-buy-sell" }}</td>
          <td>users</td>
          <td>users</td>
          <td>12/3/2002</td>
          <td>12/3/2002</td>
        </tr>














        
        <tr>
          <td>0</td>
          <td>{{ "gpu-buy" }}</td>
          <td>{{ "@sender" }}</td>
          <td>{{ "@receiver" }}</td>
          <td>100$</td>
          <td>{{ "pc-buy-sell" }}</td>
          <td>users</td>
          <td>users</td>
          <td>12/3/2002</td>
          <td>12/3/2002</td>
        </tr>














        
        <tr>
          <td>0</td>
          <td>{{ "gpu-buy" }}</td>
          <td>{{ "@sender" }}</td>
          <td>{{ "@receiver" }}</td>
          <td>100$</td>
          <td>{{ "pc-buy-sell" }}</td>
          <td>users</td>
          <td>users</td>
          <td>12/3/2002</td>
          <td>12/3/2002</td>
        </tr>














        
        <tr>
          <td>0</td>
          <td>{{ "gpu-buy" }}</td>
          <td>{{ "@sender" }}</td>
          <td>{{ "@receiver" }}</td>
          <td>100$</td>
          <td>{{ "pc-buy-sell" }}</td>
          <td>users</td>
          <td>users</td>
          <td>12/3/2002</td>
          <td>12/3/2002</td>
        </tr>














        
        <tr>
          <td>0</td>
          <td>{{ "gpu-buy" }}</td>
          <td>{{ "@sender" }}</td>
          <td>{{ "@receiver" }}</td>
          <td>100$</td>
          <td>{{ "pc-buy-sell" }}</td>
          <td>users</td>
          <td>users</td>
          <td>12/3/2002</td>
          <td>12/3/2002</td>
        </tr>














        
        <tr>
          <td>0</td>
          <td>{{ "gpu-buy" }}</td>
          <td>{{ "@sender" }}</td>
          <td>{{ "@receiver" }}</td>
          <td>100$</td>
          <td>{{ "pc-buy-sell" }}</td>
          <td>users</td>
          <td>users</td>
          <td>12/3/2002</td>
          <td>12/3/2002</td>
        </tr>














        
        <tr>
          <td>0</td>
          <td>{{ "gpu-buy" }}</td>
          <td>{{ "@sender" }}</td>
          <td>{{ "@receiver" }}</td>
          <td>100$</td>
          <td>{{ "pc-buy-sell" }}</td>
          <td>users</td>
          <td>users</td>
          <td>12/3/2002</td>
          <td>12/3/2002</td>
        </tr>














        
        <tr>
          <td>0</td>
          <td>{{ "gpu-buy" }}</td>
          <td>{{ "@sender" }}</td>
          <td>{{ "@receiver" }}</td>
          <td>100$</td>
          <td>{{ "pc-buy-sell" }}</td>
          <td>users</td>
          <td>users</td>
          <td>12/3/2002</td>
          <td>12/3/2002</td>
        </tr>














        
        <tr>
          <td>0</td>
          <td>{{ "gpu-buy" }}</td>
          <td>{{ "@sender" }}</td>
          <td>{{ "@receiver" }}</td>
          <td>100$</td>
          <td>{{ "pc-buy-sell" }}</td>
          <td>users</td>
          <td>users</td>
          <td>12/3/2002</td>
          <td>12/3/2002</td>
        </tr>














        
        <tr>
          <td>0</td>
          <td>{{ "gpu-buy" }}</td>
          <td>{{ "@sender" }}</td>
          <td>{{ "@receiver" }}</td>
          <td>100$</td>
          <td>{{ "pc-buy-sell" }}</td>
          <td>users</td>
          <td>users</td>
          <td>12/3/2002</td>
          <td>12/3/2002</td>
        </tr>














        
        <tr>
          <td>0</td>
          <td>{{ "gpu-buy" }}</td>
          <td>{{ "@sender" }}</td>
          <td>{{ "@receiver" }}</td>
          <td>100$</td>
          <td>{{ "pc-buy-sell" }}</td>
          <td>users</td>
          <td>users</td>
          <td>12/3/2002</td>
          <td>12/3/2002</td>
        </tr>














        
        <tr>
          <td>0</td>
          <td>{{ "gpu-buy" }}</td>
          <td>{{ "@sender" }}</td>
          <td>{{ "@receiver" }}</td>
          <td>100$</td>
          <td>{{ "pc-buy-sell" }}</td>
          <td>users</td>
          <td>users</td>
          <td>12/3/2002</td>
          <td>12/3/2002</td>
        </tr>














        
        <tr>
          <td>0</td>
          <td>{{ "gpu-buy" }}</td>
          <td>{{ "@sender" }}</td>
          <td>{{ "@receiver" }}</td>
          <td>100$</td>
          <td>{{ "pc-buy-sell" }}</td>
          <td>users</td>
          <td>users</td>
          <td>12/3/2002</td>
          <td>12/3/2002</td>
        </tr>














        
        <tr>
          <td>0</td>
          <td>{{ "gpu-buy" }}</td>
          <td>{{ "@sender" }}</td>
          <td>{{ "@receiver" }}</td>
          <td>100$</td>
          <td>{{ "pc-buy-sell" }}</td>
          <td>users</td>
          <td>users</td>
          <td>12/3/2002</td>
          <td>12/3/2002</td>
        </tr>














        
        <tr>
          <td>0</td>
          <td>{{ "gpu-buy" }}</td>
          <td>{{ "@sender" }}</td>
          <td>{{ "@receiver" }}</td>
          <td>100$</td>
          <td>{{ "pc-buy-sell" }}</td>
          <td>users</td>
          <td>users</td>
          <td>12/3/2002</td>
          <td>12/3/2002</td>
        </tr>














        
        <tr>
          <td>0</td>
          <td>{{ "gpu-buy" }}</td>
          <td>{{ "@sender" }}</td>
          <td>{{ "@receiver" }}</td>
          <td>100$</td>
          <td>{{ "pc-buy-sell" }}</td>
          <td>users</td>
          <td>users</td>
          <td>12/3/2002</td>
          <td>12/3/2002</td>
        </tr>














        
        <tr>
          <td>0</td>
          <td>{{ "gpu-buy" }}</td>
          <td>{{ "@sender" }}</td>
          <td>{{ "@receiver" }}</td>
          <td>100$</td>
          <td>{{ "pc-buy-sell" }}</td>
          <td>users</td>
          <td>users</td>
          <td>12/3/2002</td>
          <td>12/3/2002</td>
        </tr>










      </table>
    </div>
  </div>
</div>
