.main {
    width: 650px;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    background-color: white;
    padding-bottom: 50px;
    .icon {
      width: 70px;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      position: relative;
      img {
        width: 100%;
      }
    }
    .header {
      text-align: center;
      font-size: 26px;
      font-weight: 900;
      margin-bottom: 20px;
    }
    .des {
      text-align: center;
      font-size: 18px;
      margin-bottom: 20px;
    }
    .button-box {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 20px;
      .button {
        margin-top: 20px;
        padding: 10px 30px;
        font-weight: 900;
        font-size: 18px;
        color: white;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
          transform: scale(0.99);
        }
        &:nth-child(1) {
          background-color: green;
          border-radius: 5px;
          margin-left: 5px;
          margin-right: 5px;
        }
        &:nth-child(2) {
          background-color: red;
          margin-left: 5px;
          margin-right: 5px;
          border-radius: 5px;
        }
      }
    }
  }
  