<div class="main">
  <!-- marketing planing,expart working -->
  <div class="item">
    <div class="image-frame">
      <img
        src="../../../assets/demo/businessmen-hands-white-table-with-documents-drafts.jpg"
        alt=""
      />
    </div>
    <div class="image-frame">
      <img
        src="../../../assets/demo/closeup-economist-using-calculator-while-going-through-bills-taxes-office.jpg"
        alt=""
      />
    </div>
  </div>
  <div class="item">
    <div class="header">Comprehensive Financial Management Services</div>
    <div class="des">
      Our Comprehensive Financial Management Services are designed to cater to
      all your banking and financial planning needs. With a team of expert
      account managers, dedicated employee banking solutions, and strategic
      financial planners, we ensure that both individual and organizational
      financial goals are met with precision and efficiency.
    </div>
    <div class="point-box">


      <div class="point">
        <div class="header">Expert Account Management</div>
        <ul class="point-items">
          <li class="point-item">Tailored financial solutions to fit your unique profile.</li>
          <li class="point-item">Regular updates and comprehensive reports on your account status.</li>
          <li class="point-item">High-level security measures for all your transactions.</li>
          <li class="point-item">Early identification and resolution of potential issues.
        </li>
        </ul>
      </div>



      <div class="point">
        <div class="header">Employee Banking Solutions</div>
        <ul class="point-items">
          <li class="point-item">Efficient and accurate salary processing.</li>
          <li class="point-item">Favorable loan programs designed for your employees.</li>
          <li class="point-item">Quick and convenient salary access.</li>
          <li class="point-item">Resources and workshops to help employees manage their finances effectively.
        </li>
        </ul>
      </div>


      <div class="point">
        <div class="header">Strategic Financial Planning</div>
        <ul class="point-items">
          <li class="point-item">In-depth assessment of financial situations and goals.</li>
          <li class="point-item"> Tailor-made strategies to meet specific financial needs.</li>
          <li class="point-item">Expert guidance on investment opportunities and risk management.</li>
          <li class="point-item">Periodic evaluations to track progress and adjust strategies.
        </li>
        </ul>
      </div>








    </div>
  </div>
</div>
