<div class="main">
  <div class="slider">
    <div class="single-frame">
      <div class="text-context">
        <div class="header">
          Welcome to Q-Bank Secure, Reliable, and Innovative Banking
        </div>
        <div class="context">
          At Q-Bank, we offer secure, reliable, and innovative banking
          solutions tailored to meet your needs. Enjoy our comprehensive range
          of services, including personal and business banking, loans, and
          investments. Our user-friendly online and mobile platforms ensure safe
          and convenient access to your finances anytime, anywhere. Trust us to
          support your financial journey with personalized service and expert
          advice. Join Q-Bank today and experience banking designed
          with you in mind.
        </div>
      </div>
      <img
        src="../../../assets/image/164ca665-b3af-401e-8434-96a0b40608c9.jpg"
        alt=""
      />
    </div>
  </div>
</div>
