<div class="main">



  <div class="item">
    <div class="image-bloc">
      <img src="../../../assets/icon/happy-customer-service.svg" alt="">
    </div>
    <div class="text-context">
      <div class="number">99 <span class="plus">+</span></div>
      <div class="label">{{ "Satisfy Clients" }}</div>
    </div>
  </div>

   
  <div class="item">
     
      <div class="image-bloc">
        <img src="../../../assets/icon/cash-14.svg" alt="">
      </div>
    <div class="text-context">
      <div class="number">99M $ <span class="plus">+</span></div>
      <div class="label">{{ "Total Loan Provide" }}</div>
    </div>
  </div>

   
  <div class="item">
    <div class="image-bloc">
      <img src="../../../assets/icon/chart-arrow-up-icon.svg" alt="">

    </div>
    <div class="text-context">
      <div class="number">99.99% </div>
      <div class="label">{{ "Success Rate" }}</div>
    </div>
  </div>
</div>
