<div class="main">
    <div class="item">
      <div class="header">This is Header container</div>
      <div class="des">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum voluptatum
        natus tenetur sequi officiis est a, provident quisquam adipisci dicta
        veniam unde ab, autem laudantium voluptatibus commodi, voluptas fugiat
        deserunt. Cum omnis totam numquam aut molestiae illum, quidem doloribus
        dolorem nesciunt nihil perspiciatis, molestias, asperiores ducimus quaerat
        fugiat non debitis provident possimus deserunt ab quia ipsam. Ab porro
        dolores facilis. Illo, iusto molestias. Laboriosam dignissimos veniam
        repellat labore expedita, molestiae quisquam minima alias velit enim ullam
        neque, aut magni iste praesentium ea nihil id tempora animi rerum possimus
        nam pariatur! Aliquid eaque inventore at officia fugit quas id nam?
        Pariatur eum nihil earum exercitationem officia aut unde animi inventore
        illum debitis repellat id modi, enim voluptate beatae a eligendi voluptas?
        Sequi consectetur vitae quas qui assumenda consequatur, explicabo
        recusandae nostrum cum placeat laborum pariatur voluptas odio provident
        consequuntur ab excepturi incidunt reiciendis eveniet eos alias? Nesciunt
        porro magnam commodi voluptatum?
      </div>
      <div class="link-box">
        <div class="link-button">
          <a routerLink="">Home</a>
        </div>
        <div class="link-button">/</div>
        <div class="link-button">
          <a routerLink="">Transection</a>
        </div>
      </div>
      
    </div>
    <div class="item">
      <div class="image-frame">
        <div class="slider">
          <div class="single-image">
            <img src="../../../assets/transection/t3.png" alt="" />
          </div>
          <div class="single-image">
            <img src="../../../assets/transection/t-2.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  
  
  
  
  
  
    
  </div>