<div class="main">
  <div class="item">
    <div class="header">Contact Form</div>

    <div class="input-box">
      <div class="label">Full Name</div>
      <input type="text" name="" id="" placeholder="" placeholder="required" />
    </div>
    <div class="input-box">
      <div class="label">Email Address</div>
      <input type="text" name="" id="" placeholder="" placeholder="required" />
    </div>

    <div class="input-box">
      <div class="label">Phone Number</div>
      <input type="text" name="" id="" placeholder="" placeholder="optional" />
    </div>

    <div class="input-box">
      <div class="label">Subject</div>
      <input type="text" name="" id="" placeholder="" placeholder="required" />
    </div>
    <div class="input-box">
      <div class="label">Message</div>
      <textarea class="input" name="" id="" placeholder="required"></textarea>
    </div>
    <div class="input-box">
      <div class="button" role="button">Submit</div>
    </div>
  </div>
  <div class="item">
    <div class="header">Service Information</div>
    <section class="sub-items">
      <div class="sub-item">
        <div class="label">General Inquiries</div>
        <div class="label-item">1-800-123-4567</div>
      </div>
      <div class="sub-item">
        <div class="label">Customer Support</div>
        <div class="label-item">{{ "support@qbank.com" }}</div>
      </div>
      <div class="sub-item">
        <div class="label">Lost or Stolen Cards</div>
        <div class="label-item">{{ "1-800-456-7890" }}</div>
      </div>
      <div class="sub-item">
        <div class="label">Loan Services</div>
        <div class="label-item">{{ "loans@qbank.com" }}</div>
      </div>
      <div class="sub-item">
        <div class="label">Address</div>
        <div class="label-item">{{ "123 Bank St, City, State" }}</div>
      </div>
      <div class="sub-item">
        <div class="label">Phone</div>
        <div class="label-item">{{ "1-800-111-2222" }}</div>
        <div class="label-item">{{ "1-800-111-2223" }}</div>
      </div>
      <div class="sub-item">
        <div class="label">Hours</div>
        <div class="label-item">{{ "Mon-Fri, 9 AM - 5 PM" }}</div>
      </div>
    </section>
    <section class="sub-items">
      <div class="sub-header">Follow Us</div>
      <div class="media-box">


        <a class="media-item">
          <div class="icon"><img src="../../../assets/media/facebook-svgrepo-com (1).svg" alt=""></div>
          <div class="link" >facebook</div>
        </a>
        <a class="media-item">
          <div class="icon"><img src="../../../assets/media/x-social-media-logo-icon (1).svg" alt=""></div>
          <div class="link" >social-X</div>
        </a>

        <a class="media-item">
          <div class="icon"><img src="../../../assets/media/linkedin-svgrepo-com.svg" alt=""></div>
          <div class="link" >linkedin</div>
        </a>


      </div>
    </section>
  </div>
</div>
