<div class="main">
  <div class="image-bg">
    <img
      src="../../../assets/demo/credit-cards-that-are-stacked-neatly-together.jpg"
      alt=""
    />
  </div>
  <div class="context">
    <div class="item card-box">
      <div class="card">
        <app-card [isGold]="true" />
      </div>
      <div class="card">
        <app-card [isSilver]="true" />
      </div>

      <div class="card">
        <app-card [isPlati]="true" />
      </div>
    </div>

    <div class="item">
      <div class="header">Bank Cards Information</div>
      <div class="des">
        Our bank offers a range of credit cards designed to suit different needs
        and lifestyles. Whether you're looking for basic benefits, enhanced
        features, or premium rewards, we have a card that's right for you.
        Choose from our Silver, Gold, or Platinum cards to find the perfect
        match for your spending habits and financial goals.
      </div>

      <div class="point">
        <div class="point-item">
          <div class="icon">
            <img src="../../../assets/icon/noun-one-star-1153081.svg" alt="" />
          </div>
          <div class="text-context">
            <div class="header">Silver Card</div>
            <div class="des">
              The Silver Card offers basic benefits and features, making it
              ideal for everyday purchases. With lower annual fees, this card
              provides access to customer support and a standard rewards program
              that allows you to earn points on every dollar spent.
            </div>
          </div>
        </div>

        <div class="point-item">
          <div class="icon">
            <img src="../../../assets/icon/noun-two-star-1153120.svg" alt="" />
          </div>
          <div class="text-context">
            <div class="header">Gold Card</div>
            <div class="des">
              The Gold Card enhances your spending power with higher credit
              limits and additional travel and purchase protections. Enjoy
              medium annual fees and an enhanced rewards program that offers
              more points per dollar spent, making it a great choice for those
              seeking more benefits and features.
            </div>
          </div>
        </div>
        <div class="point-item">
          <div class="icon">
            <img
              src="../../../assets/icon/noun-three-star-1153116.svg"
              alt=""
            />
          </div>
          <div class="text-context">
            <div class="header">Platinum Card</div>
            <div class="des">
              The Platinum Card is our premium offering, featuring the highest
              credit limits and comprehensive travel and purchase insurance.
              With higher annual fees, this card provides a premium rewards
              program with the highest points per dollar spent, along with
              exclusive access to airport lounges and concierge services.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
