.main {
  width: 1600px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  .header {
    text-align: center;
    font-size: 35px;
    font-weight: 900;
  }
  .option {
    width: 100%;
    display: flex;
    margin-top: 50px;

    .item {
      margin: 0;
      padding: 0;
      width: 50%;
      height: 100%;
      padding: 50px;
      .header {
        font-size: 26px;
        text-align: start;
        margin-bottom: 20px;
      }
      &:nth-child(2) {
        display: flex;
        flex-direction: column;
        .button-box {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          margin-bottom: 10px;
          .button {
            padding: 10px 30px;
            background-color: black;
            color: white;
            border-radius: 5px;
            cursor: pointer;
          }
        }
        .token-box {
          flex-grow: 1;
          overflow-y: auto;
          padding-right: 10px;
          max-height: 1000px;
          &::-webkit-scrollbar {
            width: 10px;
            background-color: rgb(57, 57, 57);
            border-radius: 10px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: gray;
            border-radius: 10px;
          }
          .card {
            height: auto;
            width: 100%;
            background-color: aliceblue;
            box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
            margin-bottom: 20px;
            border-radius: 5px;
            display: flex;
            padding-bottom: 20px;
            .icon {
              width: 30%;
              height: 100%;
              display: flex;
              justify-content: center;
              padding: 20px;
              .image {
                width: 100px;
                height: 100px;
                border-radius: 100%;
                border: 5px solid rgb(0, 0, 0);
              }
            }
            .text-context {
              width: 70%;
              height: 100%;
              padding: 20px;
              .token {
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              .limite {
                margin-top: 10px;
              }
              .access {
                margin-top: 10px;
              }
              .exp {
                margin-top: 10px;
              }
              .create-time {
                margin-top: 10px;
              }
              .copy-box {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                .icon {
                  width: 60px;
                  cursor: pointer;
                }
              }
              .swt-box {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                .swt {
                  width: 50px;
                  height: 25px;
                  background-color: rgba(98, 98, 98, 0.344);
                  border-radius: 50px;
                  cursor: pointer;
                  .bar {
                    height: 25px;
                    width: 25px;
                    background-color: rgb(18, 18, 18);
                    border-radius: 50px;
                    position: relative;
                    left: calc(100% - 25px);
                    transition: 0.5s;
                  }
                }
              }
            }
          }
        }
      }
      &:nth-child(1) {
        .transfer-mathod {
          padding: 10px;
          height: 100%;
          .mathod-item {
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            .header {
              font-size: 18px;
              display: flex;
              justify-content: space-between;
              .button {
                color: white;
                background-color: black;
                border-radius: 5px;
                padding: 10px 30px;
                cursor: pointer;
              }
            }
            .list-of-token {
              overflow-y: auto;
              overflow-x: hidden;
              padding-right: 5px;
              margin-bottom: 50px;
              max-height: 500px;
              &::-webkit-scrollbar {
                width: 10px;
                background-color: rgb(57, 57, 57);
                border-radius: 10px;
              }
              &::-webkit-scrollbar-thumb {
                background-color: gray;
                border-radius: 10px;
              }
              width: 100%;
              flex-grow: 1;
              .item-of-token {
                height: 40px;
                width: 100%;
                margin-top: 10px;
                margin-bottom: 10px;
                display: flex;
                justify-content: space-between;
                border: 1px solid gray;
                align-items: center;
                padding-right: 10px;
                border-radius: 5px;
                margin-top: 10px;
                margin-bottom: 10px;
                div {
                  margin: 10px;
                }
                .token {
                  width: 80%;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
                .copy {
                  height: 20px;
                  width: 20px;
                  cursor: pointer;
                }
                .delete {
                  padding-bottom: 5px;
                  font-size: 30px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin: 0;
                  height: fit-content;
                  width: fit-content;
                  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
                  font-weight: 900;
                  transform: rotate(45deg);
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }
}

.aa {
  height: 500px;
  width: 900px;
  background-color: red;
  padding: 10px 20px;
}

@media only screen and (max-width: 1400px) {
  .main {
    width: 1000px;
    .option {
      flex-direction: column;
      align-items: center;
      .item{
        width: 100%;
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .main {
    width: 100%;
    
  }
}

@media only screen and (max-width: 600px) {
  .main {
    width: 100%;
    .option{
      .item{
        &:nth-child(2){
          width: 100%;
          .token-box  {
            padding: 0;
            .card{
              flex-direction: column;
              margin: auto;
              .icon{
                width: 100%;
                margin-top: 20px;

              }
              .text-context{
                width: 100%;
                margin-top: 30px;
              }
            }
          }
        }
      }
    }
  }
}